.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js
.env

# csv file
data/*
!data/.gitkeep

dumps/*
!dumps/.gitkeep

# yarn
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

export_limited.sh
export_csv.sh
export_phone_csv.sh